.btn-cultura {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
    background-color: #528364;
    color: #fff;
  }
  .btn-cultura:hover {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
    background-color: #fff;
    color: #528364;
    border: 2px solid #528364;
  
  }

  .btn-Addcultura {
    margin-right: 25px;
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
    background-color: #528364;
    color: #fff;
  }
  .btn-Addcultura:hover {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
    background-color: #fff;
    color: #528364;
    border: 2px solid #528364;
  
  }
  .bg-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('../img/fundo.jpg');
    filter: blur(2px);
    z-index: -1;
    background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  }
  
  .container {
    position: relative;
  }
  .no-horizontal-margin {
    margin-right: 0;
    margin-left: 0;
}
  @media (max-width: 768px) {
    .btn-cultura {
      font-size: 0.7rem;
      padding: 0.25rem 0.5rem;
    }
    .btn-Addcultura {
      font-size: 0.8rem;
      padding: 0.5rem 0.75rem;
    }
  }